*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0.5rem;
  overflow-x: hidden;
}

/* Fondo de pantalla */
body {
  margin: 0;
  min-height: 100vh;
  background-image: url("images/view-coffee-machine-making-coffee-home.jpg");
  background-size: cover;         
  background-position: center;    
  background-repeat: no-repeat;   
  background-attachment: fixed;  
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("images/view-coffee-machine-making-coffee-home.jpg") center / cover no-repeat;
  filter: blur(4px);
  transform: scale(1.06); /* evita bordes vacíos por el blur */
  z-index: -2;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2); /* opcional, para mejorar contraste */
  z-index: -1;
}

* { box-sizing: border-box; }

/* Cuando menu esta abierto, desenfoca el resto */
body.menu-abierto,
body.modal-activo {
    overflow: hidden;
}
html:has(body.menu-abierto),
html:has(body.modal-activo) {
    overflow: hidden;
}
body.menu-abierto .page,
body.modal-activo .page {
    pointer-events: none;
    user-select: none;
    
}
body.menu-abierto .site-nav,
body.menu-abierto .btn-hamburguesa {
    pointer-events: all;
}
body.modal-activo .modal-pago {
    pointer-events: all;
}

.overlay-menu {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.724);
    z-index: 100;
    display: none;
}
body.menu-abierto .overlay-menu {
    display: block;
}

/* Base general */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
    width: 100%;
    max-width: 360px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 6px;
}

.page {
  width: min(100% - 2rem, 70rem);
  margin-inline: auto;
}

/* Fuentes base web */
h1, h2, p {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

h3 {
    font-family: "Unlock", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

/* Menú y botón de hamburguesa */
.menu {
  position: relative;
  z-index: 110;
}

.btn-hamburguesa {
/* Tamaño del botón */
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 10px;
    font-size: 2.5rem;
    background: none;
    cursor: pointer;
    color: #bfbfbf;
    border: 1px solid #202020;
/* Posición del botón */
    position: fixed;
    top: clamp(0.5rem, 4vw, 1.5rem);
    left: clamp(0.5rem, 4vw, 1.5rem);
    z-index: 120;
}
.btn-hamburguesa::before {
/* Base del banner */
    display: block;
    position: fixed;
    content: "";
    background-color: rgba(0, 0, 0, 0.514);
    opacity: 0;
/* Tamaño del banner */    
    width: 100%;
    height: 15%;
/* Posición del banner */
    top: 0;
    left: 0;
    z-index: -1;
    transition: opacity 1s ease;
    pointer-events: none;
}
.btn-hamburguesa.scrolleando::before {
    opacity: 1;
    background: linear-gradient(to bottom, #1b1a1aef 90%, transparent);
    border-color: #fff;
}

.btn-hamburguesa:focus-visible,
.btn-hamburguesa:active {
  outline: none;
  box-shadow: 0 0 15px 3px rgba(143, 99, 3, 0.7);
  -webkit-tap-highlight-color: transparent;
}

.site-nav {
/* Base del nav */    
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
/* Tamaño del nav */
    width: 85%;
    max-width: 320px;
    height: 100vh;
    padding: 1rem;
    padding-top: 120px;
/* decoración del nav completo */
    background: linear-gradient(to top right, #7a6042 10%, #4c3b29 45%, #131010 100%);
    box-shadow: 2px 6px 12px rgba(45, 44, 44, 0.842);
/* Estado inicial del nav */
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.site-nav.abierto {
  display: flex;
  z-index: 110;
/* Estado final del nav */
  transform: translateX(0);
  opacity: 1;
}
/* Preparación de contenedores nav */
.site-nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}
.nav-links {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* Modificaciones individuales <a> */
.nav-link {
    border: 1rem rgba(0, 0, 0, 0.484);
    border-radius: 5px;
    box-shadow: 1px 7px 20px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-decoration: none;
    color: inherit;
    background-color: #57452b;
    -webkit-tap-highlight-color: rgba(120, 82, 26, 0.395);

    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #eaeaea;
    font-size: 1.3rem;
}
.nav-link:focus,
.nav-link:active {
    outline: none;
    box-shadow: none;
}
.nav--contacto {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.nav--combo {
    color: #bcb300;
}
.logo-contacto {
    width: 60px;
    height: auto;
}
.logo-menu {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 2rem;
    width: 200px;
}
.logo-nav {
    width: 100%;
    border: rgba(0, 0, 0, 0.644);
    border-radius: 50%;
    box-shadow: 1px 20px 25px rgba(0, 0, 0, 0.2);
}
/* Cabecera de la web */
.site-header {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
}
.logo {
    width: 10rem;
    height: auto;
}
.site-header h1 {
    font-size: 2.5rem;
    text-align: center;
}
.site-header p {
    font-size: 1rem;
    text-align: center;
}
/* Presentación de la web */
.Presentacion {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 30vh;
}
.presentacion-card {
    border: 1px solid rgba(0, 0, 0, 0.445);
    border-radius: 12px;
    box-shadow: 1px 15px 25px rgba(0, 0, 0, 0.555);
    background-color: #21212198;
    padding: 0.5rem;
    max-width: 500px;
}
.presentacion-card h2,
.presentacion-card p {
    text-align: center;
    font-size: 1rem;
}
.subrayado {
    text-decoration: underline;
    text-underline-offset: 7px;
}
.separador-desktop {
    border: none;
    margin-left: calc(-50vw + 50%);
    width: 100vw;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 5rem;
    background: linear-gradient(to right, transparent, #dadadaa2, transparent);
}
/* Columna para comprar los cafés */
.pedidos-cafe {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    gap: 4rem;
}
.titulo-columna {
    display: flex;
    justify-self: center;
    justify-content: center;
    text-align: center;
    width: 250px;
}
.titulo-eligecafes {
/* Tamaño del recuadro */
    padding: 5px;
    width: 100%;
    min-height: 50px;
/* Decoración */
    border: 1px solid rgba(0, 0, 0, 0.505);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.404);
}
.titulo-eligecafes h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
/* Estilos de las cards */
.columna-scroll {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
article.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    min-height: 350px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #473c2b;
    background: linear-gradient(to bottom left, #655237e7 30%,
    #000000b6 40%, #655237 70%);
}
article.card h3 {
    font-size: 1.5rem;
}
article.card img {
    object-fit: cover;
    max-height: 250px;
    height: 80%;
}
span.cafes {
    text-decoration: 1px underline;
    text-underline-offset: 0.5rem;
}
.card-cantidad {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
span.precio {
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 1px 5px 20px 5px rgba(0, 0, 0, 0.2);
    background-color: #5f5234c8;
    font-size: 1.3rem;
}
.botones {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 0.5rem;
    max-width: 120px;
    width: 100%;
    height: auto;
}
.botones button {
    max-width: 150px;
    width: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
button.sumar, 
button.restar {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
}
/* Tipografías para las tarjetas */
span.precio {
    color: #fff;

    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
span.cantidad-numero {
    color: #fff;

    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
article.card h3 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #fff;
}
/* Recuadro para el monto total de la compra */
.recuadro-total {
/* Posicionamiento */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
/* Tamaño del contenedor */
    border: 1px solid rgba(117, 56, 2, 0.354);
    border-radius: 1.5rem;
    background-color: #272726b8;
    background: linear-gradient(to right bottom, #572e08aa 30%, #000000c9 50%, #412604 90%);
    padding-top: 4rem;
}
.recuadro-total h3 {
    font-size: 1rem;
}
.cancelar-resumen {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 1rem;
    margin-top: -4rem;
}
.resumen-compra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 2rem;
}
.resumen-compra hr {
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.item-resumen {
    display: none;
}
.item-resumen.activo {
    display: block;
}
p.title-total {
    font-size: 1.5rem;
}
.total-subrayado {
    text-decoration: underline 2px solid #a0a0a0;
    text-underline-offset: 6px;
}
/* Boton de reset resumen */
.cancelar-resumen {
    display: flex;
    justify-content: flex-end;
}
#btn-reset {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 1.5rem;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
#btn-reset span {
    display: inline-block;
}
/* Botón para pagar */
.boton-pagar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
.btn-pagar {
    max-width: 150px;
    width: 100%;
    height: 3rem;
    border-radius: 10px;
    border: none;
    background-color: #171717b3;
    
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: #ffffff;
}
/* Modal de pago */
.modal-pago {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    inset: 0;
    overflow-y: auto;
    z-index: 120;
    background-color: #655030;
/* Estado inicial */
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 400ms ease-out, transform 400ms ease-out;
    pointer-events: none;
}
.modal-pago.activo {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}
.modal-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 6rem;
    padding: 1rem;
    background-color: #473c2b;
    background: linear-gradient(to bottom, #6d381b90 80%, transparent);
}
.modal-banner h3 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #ebebeb;
}
.modal-hijo {
    display: flex;
    align-content: center;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem;
    gap: 3rem;
    width: 300px;
    height: 500px;
}
.recuadro-pago {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.025);
    border-radius: 5px;
    background-color: #7b5d38;
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.404);
}
.formulario-pago {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}
#form-pago {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
#form-pago label {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #ebebeb;
}
.subrayado-label {
    text-decoration: underline;
    text-underline-offset: 5px;
}
#form-pago input {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
#form-pago button {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(48, 48, 48, 0.2);
    background-color: rgba(79, 79, 79, 0.719);

    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #cdcdcd;
}
.cerrar-modal {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
.btn-cerrar {
    display: flex;
    padding: 15px;
    width: 2.5rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);

    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    color: #000000;
}
/* Sección de contactos */
.bandeja-email {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    border: 1px solid rgba(0, 0, 0, 0.137);
    border-radius: 5px;
    background-color: rgba(52, 52, 52, 0.767);
    box-shadow: 1px 15px 25px rgba(0, 0, 0, 0.445);
}
.form-correo {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
#serviciosForm {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
#serviciosForm label {
    font-size: 20px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #dedede;
}
.subrayado-label {
    text-decoration: 1px underline #bfbfbf;
}
#serviciosForm input {
    width: 100%;
    min-height: 2.5rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.025);
    border-radius: 5px;
    background-color: rgba(206, 206, 206, 0.607);
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.363);

    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #000000;
}
#serviciosForm textarea {
    width: 100%;
    height: 10rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.025);
    border-radius: 5px;
    background-color: rgba(206, 206, 206, 0.607);
    box-shadow: 1px 10px 25px rgba(0, 0, 0, 0.2);

    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #000000;
}
.btn-contacto {
    min-height: 2rem;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.025);
    border-radius: 5px;
    background-color: rgba(128, 126, 125, 0.381);
    box-shadow: 1px 5px 25px rgba(9, 9, 9, 0.2);

    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    color: #000000;
}
.redes-sociales {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
}
.titulo-contactos {
    display: flex;
    justify-self: center;
}
.subrayado-contacto {
    text-decoration: 1px underline #a4a4a4;
    text-underline-offset: 10px;
}
.redes {
    display: flex;
    align-self: center;
    padding: 1rem;
}
/* Créditos */
.banner-creditos {
    border: none;
    height: 1px;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    background-color: rgb(255, 255, 255);
    background: linear-gradient(to right, transparent, #cdcdcdc1, transparent);
    margin-bottom: 1rem;
}  
.site-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.derechos-creditos {
    padding: 5px;
    width: 100%;
    text-align: center;
    background-color: #00000062;
    background: linear-gradient(to right, transparent, #000000a7, transparent);
}
.derechos-creditos p {
    font-size: 10px;
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #e0e0e0;
}

/* Adaptación para pantallas */

/* Mobile*/
@media (min-width: 350px) {
    .cabecera-web br{
        display: none;
    }
    .main {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-content: center;
        gap: 4rem;
    }
    .pedidos-cafe {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        justify-self: center;
        padding: 2rem;
        width: 250px;
    }
    .titulo-columna {
        display: flex;
        justify-self: center;
        justify-content: center;
        text-align: center;
/* Tamaño del recuadro */
        width: 250px;
    }
    .titulo-eligecafes {
/* Tamaño del recuadro */
        padding: 5px;
        width: 100%;
        min-height: 50px;
/* Decoración */
        border: 1px solid rgba(0, 0, 0, 0.505);
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.404);
    }
    .card {
        display: flex;
        flex-direction: column;
        align-self: center;
        width: 100%;
    }
/* Modal de pago */
    .modal-hijo {
        display: flex;
        width: 350px;
        height: 750px;
    }
    .recuadro-pago {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
}
/* Desktop */
@media (min-width: 1024px) {
    .cabecera-web br {
        display: none;
    }
    .Presentacion {
        margin-bottom: 2rem;
    }
    .separador-desktop {
        border: none;
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        height: 1px;
        margin-bottom: 8rem;
        background: linear-gradient(to right, transparent, #fcfcfcb0, transparent);
    }
    /* Layout principal */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1024px;
        width: 100%;
        gap: 4rem;
    }
    .bloque-izquierdo {
        display: flex;
        flex-direction: column;
        justify-self: start;
        width: 100%;
        max-width: 300px;
    }
    .bloque-derecho {
        display: flex;
        flex-direction: column;
        justify-self: end;
        width: 100%;
        max-width: 500px;
    }
    .pedidos-cafe {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .contenedor-scroll {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        position: sticky;
        top: 1rem;
        max-height: 600px;
        width: 100%;
        padding: 5px;
    }
    .recuadro-total {
        display: flex;
        flex-direction: column;
        width: 100%;       
    }
    .resumen-compra {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }
    .cancelar-resumen {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }
    #btn-reset {
        display: flex;
    }
    .boton-pagar {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }
    .banner-creditos {
        margin-bottom: 5rem;
    }
/* Sección de contactos */
    .bandeja-email {
        display: flex;
        flex-direction: column;
        margin-bottom: 5rem;
        width: 500px;
    }
    .form-correo {
        display: flex;
        width: 100%;
    }
    .redes-sociales {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
    }
    .redes {
        padding: 4rem;
        gap: 1rem;
        width: 100%;
    }
    .titulo-contactos {
        font-size: 1.5rem;
    }
/* Modal  de pago */
    .modal-hijo {
        display: flex;
        width: 800px;
    }
    .recuadro-pago {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .cerrar-modal {
        display: flex;
        width: 100%;
        justify-content: flex-end;
    }
    #form-pago {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
    }
}






















